@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-barlow: Barlow, "sans-serif";
}

.prose ul, 
.prose ol {
    list-style: disc !important;
    padding-left: 1.5em; /* Optional: ensures indentation */
}


.space-y-2 ul, 
.space-y-2 ol {
    list-style: disc !important;
    padding-left: 1.5em; /* Optional: ensures indentation */
}
.space-y-6 ul, 
.space-y-2 ol {
    list-style: disc !important;
    padding-left: 1.5em; /* Optional: ensures indentation */
}

/* Add this to your global CSS */
.slick-dots {
  position: absolute !important;
  bottom: 24px !important;
  left: 0;
  width: 100%;
  display: flex !important;
  justify-content: center;
  z-index: 30;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  margin: 0 6px;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  background: none;
}

/* Override the default slick dot style */
.slick-dots li button::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  background-color: black; /* Inactive color */
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

/* Active dot override */
.slick-dots li.slick-active button::before {
  background-color: white;
  opacity: 1;
}
.custom-dot {
  width: 12px;
  height: 12px;
  border-radius: 9999px;
  background-color: black;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.slick-dots li.slick-active .custom-dot {
  background-color: white;
  opacity: 1;
}